<% include ../templates/head.ejs %>
    <section class="bg-white p-4 rounded">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th>Technologie</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Node js</td></tr>
                <tr><td>Express</td></tr>
                <tr><td>Ejs</td></tr>
                <tr><td>Api openWeather</td></tr>
            </tbody>
        </table>
    </section>

<% include ../templates/footer.ejs %>